appdirs==1.4.3
chardet==2.3.0
click==6.6
cycler==0.10.0
Flask==0.12
flask-peewee==0.6.7
Flask-SocketIO==2.8.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.3
multidict==2.1.4
numpy==1.11.2
packaging==16.8
peewee==2.8.5
pyparsing==2.1.10
python-dateutil==2.6.0
python-engineio==1.3.0
python-socketio==1.7.2
pytz==2016.10
requests==2.13.0
rq==0.7.1
six==1.10.0
Werkzeug==0.11.11
wtf-peewee==0.2.6
WTForms==2.1
