@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto-2014/Roboto-Light.ttf')
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto-2014/Roboto-Bold.ttf')
}
h1, h2 {
    font-family: 'Roboto Light';
    display: inline;
    color: #666666;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    line-height: 24px;
}
h1.bordered {
    border-bottom: 2px solid #dddddd;
    width: 100%;
    display: block;
    padding-bottom: 20px;
}
h2 {
    font-size: 13px;
}
th {
    font-family: 'Roboto Bold';
    height: 40px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}
th, td {
    text-align: left;
}
th {
    border-bottom: 2px solid #dddddd;
    padding-left: 20px;
}
td {
    font-family: 'Roboto Light';
    font-size: 13px;
    padding: 14px 20px;
}
tr:nth-child(odd) {
    background-color: #f2f2f2
}
tr th {
    background-color: #ffffff
}
th.polygon-name-header:nth-child(1) {
    padding-right: 37px;
}
td.polygon-name:nth-child(1) {
    max-width: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    min-width: 1305px;
}
header {
    background: #ffffff;
    height: 60px;
    box-shadow: 0 13px 8px -5px #e5e5e5;
    padding-left: 20px;
    padding-right: 20px;
}
header img {
    padding-top: 13px;
}
header i {
    cursor: pointer;
    float: right;
    color: #737373;
    font-size: 24px !important;
    padding-top: 15px;
}
header i.fa.fa-cog {
    padding-right: 15px;
}
header i.fa.fa-cog:hover {
    color: #333;
}
header i.fa.fa-sign-out:hover {
    color: #333;
}
.main {
    padding-top: 30px;
    width: 1265px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.main div {
    background: #ffffff;
    border-radius: 3px;
}
.left-panel {
    display: inline-block;
    position: relative;
    float: left;
    width: 723px;
    height: 600px;
}
.right-panel {
    display: inline-block;
    position: relative;
    width: 508px;
    height: 600px;
    margin-left: 30px;
    padding: 0 !important;
}
.panel {
    display: block;
    width: 1260px;
    height: 245px;
    margin-top: 30px;
    padding-bottom: 0;
}
.panel td {
    padding: 16px 20px;
}
.main:last-child {
    margin-bottom: 30px;
}
.content {
    position: relative;
    padding: 0 !important;
    padding-top: 10px !important;
    width: 100%;
}
.content.padded {
    padding: 0 20px 0 20px !important;
    width: initial !important;
}
.content-header {
    position: relative;
    padding: 25px 20px 0 20px;
}
.content-header .buttons {
    float: right;
    padding: 0;
    margin-top: -20px;
}
.right-panel .content-table-header,
.right-panel .content-table-body {
    padding: 0 !important;
}
.right-panel .content-table-header {
    position: relative;
}
.right-panel .content-table-body {
    height: 150px;
    overflow-y: auto;
}
.panel .content-table-header,
.panel .content-table-body {
    padding: 0 !important;
    position: absolute;
    width: 100%;
}
.panel .content-table-body td {
    border-bottom: 1px solid #dddddd;
}
.panel .content-table-header {
    position: relative;
    border-top: 1px solid #dddddd;
}
.panel .content-table-body {
    height: 141px;
    overflow-y: auto;
}


/* --- Buttons --- */
button {
    cursor: pointer;
    height: 40px;
    border-radius: 3px;
}
.btn-main {
    float: right;
    background: #4285f4;
    color: #fff;
    width: 90px;
    border: none;
    margin-left: 20px;
}
.btn-main:hover {
    background: #458cff;
}
.btn-simple {
    color: #737373;
    border-radius: 3px;
    border: 1px solid #dedede;
    width: 90px;
    background: #ffffff;
}
.btn-simple:hover {
    border-color: #bababa;
}
.btn-img-upload {
    color: #737373;
    border-radius: 3px;
    border: 1px solid #dedede;
    width: 120px;
    background: #ffffff;
}
.btn-img-upload:hover {
    border-color: #bababa;
}
/* --- Buttons end --- */

/* --- Inputs --- */
label {
    display: block;
}
input, label {
    color: #333333;
    font-size: 13px;
    font-family: 'Roboto Light';
}
input {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #dedede;
    margin-top: 10px;
    padding: 15px;
    width: 113px;
}
input.error {
    border: 1px solid #f24841;
}
.form-items-actions {
    display: block;
    float: left;
}
.form-item:nth-child(3) {
    margin-right: 0;
}
.form-item {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
/* --- Inputs end --- */

/* --- Colors --- */
div.circle {
    height:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:20px;
    padding: 0 !important;
}
div.circle.red {
    background-color: #ff727f;
    border:1px solid #ff727f;
}
div.circle.green {
    background-color: #8eca62;
    border:1px solid #8eca62;
}
div.circle.blue {
    background-color: #b1cbf3;
    border:1px solid #b1cbf3;
}
.fa.fa-pencil {
    cursor: pointer;
    color: #4285f4;
    font-size: 18px;
}
.fa.fa-pencil:hover {
    color: #458cff;
}
.fa.fa-times {
    cursor: pointer;
    color: #f24841;
    font-size: 18px;
}
.fa.fa-times:hover {
    color: #f20000;
}
/* --- Colors end --- */